.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #000000;

  height: 100%;
  width: 100%;
  position: absolute;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.description {
  /* top: 46px;
  position: relative; */

  width: 1004px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #ffffff;
}

.button {
  width: 200px;
  height: 60px;

  color: black;
  background: white;
  border: 2px solid black;

  border-radius: 16px;

  /* padding: 0.25rem 0.5rem; */
  transition: color 0.7s, background-color, border 0.7s;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  color: white;
  background: black;
  border: 2px solid white;
}

.buttontext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
