.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #000000;

  height: 100%;
  width: 100%;
  position: absolute;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 45%;
  height: 36px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  text-align: center;

  color: #ffffff;

  margin-top: 120px;
}

.description {
  margin-top: 46px;
  position: relative;

  width: 45%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.image {
  margin-top: 15px;
  width: 35%;
  position: relative;
}

.button {
  margin-top: 120px;

  width: 200px;
  min-height: 60px;

  color: white;
  background: black;
  border: 2px solid white;

  border-radius: 16px;

  /* padding: 0.25rem 0.5rem; */
  transition: color 0.7s, background-color, border 0.7s;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  color: black;
  background: white;
  border: 2px solid black;
}

.buttontext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.pagination {
  margin-top: 120px;
}
